#aboutme {
    display: flex;
    flex-direction: row;
    margin: 5em auto 0 auto;
    width: 60vw;
    padding-bottom: 5em;
    .title-and-description-2 {
        text-align: center;
        padding: 0 0 0 5em;
    }
}

@media screen and (max-width: 1280px){
    #aboutme {
        flex-direction: column;
        align-items: center;
        .personal-photo {
            width: 35%;
        }
        .title-and-description-2 {
            padding: 0;
        }
    }
}

@media screen and (max-width: 645px){
    #aboutme {
        width: 90vw;
        margin: 5em auto 0 auto;
    }
}