#banner {
    background-color: $background-color-2;
    height: 10%;
    width: 100%;
    margin-top: 6.3em;

    .text-banner {
        color: $font-color-1;
        display: flex;
        font-size: 1.15em;
        font-weight: 400;
        justify-content: center;
        margin: 0;
        padding: .5rem 0 .5rem 0;
    }
}

@media screen and (max-width: 1280px){
    #banner {
        .text-banner {
            font-size: 1em;
            margin: 0 2rem 0 2em;
            text-align: center;
        }
    }
}

@media screen and (max-width: 645px) {
    #banner {
        margin-top: 6em;
    }
}