#certifications {
    padding-top: 5em;
    padding-bottom: 5em;
    .title {
        margin: 0 auto 0 30%;
        padding-bottom: 1em;
    }
    .carousel-container {
        position: relative;
        width: 90vw;
        height: 45vh;
        margin-left: 3.5vw;
        .carousel {
            display: flex;
            overflow-x: auto;
            .carousel-item {
                padding: 1em;
                margin-top: -5%;
                display: inline-block;
                .Certificate {
                    width: 25em;
                    height: 25em;
                }
            }
        }
    }
    .prev-btn, .next-btn {
        background-color: $background-color-8;
        width: 1em;
        height: 45vh;
        color: $font-color-1;
        font-weight: 500;
        font-size: 1.5em;
        position: absolute;
        z-index: 0;
    }
    .next-btn {
        margin: -43.5vh auto auto 95vw;
    }
    .prev-btn {
        margin: -43.5vh auto auto 4vw;
    }
}

@media screen and (max-width: 645px){
    #certifications {
        .title {
            margin: auto;
            text-align: center;
        }
    }    
}