#differential {
    .title {
        text-align: center;
        padding-top: 1em;
    }
    .card-list {    
        display: flex;
        justify-content: space-around;
        padding: 2em 0 0 0;
        .card {
            background: linear-gradient(130deg, $background-color-1 35%, $background-color-7 90%);
            width: 250px;
            height: 250px;
            border-radius: 1em;
            .title-card {
                color: $font-color-1;
                font-size: 1.5em;
                text-align: start;
                margin-left: 1em;
                max-width: 200px;
            }
            .image-card {
                width: 5em;
                margin: 2em 0 0 9em;
            }
            #code-image {
                margin: 4em 0 0 9em;
            }
            #person-image {
                margin: 0 0 0 9em;
            }
            #air-plane-img {
                margin: 0 0 0 9em;
            }
        }
    }  
}