footer {
    background-color: $background-color-4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
    .footer-logo {
        width: 3em;
        &:hover {
            opacity: 70%;
        }
    }
    .footer-list {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 2em 0 1em 0;
        margin: auto;
        width: 12em;
        .link-footer-list {
            &:hover {
                opacity: 70%;
            }
        }
    }
    .line {
        width: 85vw;
    }
    .text-footer {
        color: $font-color-3;
    }
    .back-to-the-top {
        padding: 1em 0 1em 0;
        color: $font-color-3;
        text-transform: uppercase;
    }
}

@media screen and (max-width:645px){
    footer {
        .text-footer {
            width: 70%;
            margin: auto;
        }
    }
}