#navbar {
    background-color: $background-color-1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    margin-top: -6.4em;
    width: 100vw;

    .social-link-menu {
        margin: 2em auto auto -2em;
        display: flex;
        .social-link {
            padding-left: 1em;
            &:hover {
                opacity: .5;
            }
        }
    }

    .logo-link {
        padding: 1rem;
        .main-logo {
            width: 85%;
        }
        &:hover {
            transform: scale(1.05);
        }
        transition: transform .7s;
    }

    .nav-list {
        display: flex;
        .dropdown {
            &:hover .menu-dropdown {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            .menu-dropdown {
                position: absolute;
                display: none;
                background-color: $background-color-7;
                width: 10em;
                height: 15em;
                margin: 1em auto auto -2.5em;
                padding: 1em;

                .link-dropdown {
                    color: $font-color-1;
                    font-size: 1em;
                    font-weight: 500;
                    padding: .5em;
                    border-radius: .5em;
                    &:hover {
                        background-color: $background-color-8;
                    }
                }
            }
        }
        .component-nav-list {
            padding: 1.2rem 2rem;
            .link-nav-list {
                color: $font-color-1;
                font-size: 1.25em;
                font-weight: 300;
                &:hover {
                    color: $font-color-3;
                    text-decoration: underline;
                }
                .img-dropdown {
                    width: 10%;
                }
            }
        }
    }

    .mobile-menu-icon {
        display: none;
    }
}

.mobile-menu{
    display: none;
}

.active {
    background-color: $background-color-3 !important;
}

@media screen and (max-width: 1280px) {
    #navbar{
        .visible {
            display: block;
        }
        .not-visible {
            display: none;
        }
        .nav-list{
            .component-nav-list {
                display: none;
            }
        }
        .social-link-menu {
            display: none;
        }
        .mobile-menu-icon {
            display: block;
            padding: 2rem;
            cursor: pointer;
            .button-menu {
                background-color: transparent;
                border: none;
            }
        }
    }

    .mobile-menu {
        background-color: $background-color-1;
        position: fixed;
        z-index: 1;
        height: 100vh;
        animation: appear .3s linear;
        width: 100vw;
        .nav-list {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 1rem;
            margin: 0;
            height: 100vh;
            .link-social-media {
                display: flex;
                flex-direction: row;
                .social-link-mobile {
                    padding: 1em !important;
                }
            }
            .component-nav-list {
                display: block;
                padding: 2rem;
                .link-nav-list {
                    font-size: 1.8em;
                    font-weight: 500;
                    color: $font-color-1;
                }
            }
        }
    }

    .open {
        display: block;
        overflow-y: hidden;
    }
}

@media screen and (max-width:645px) {
    #navbar {
        height: 6em;
        margin-top: -6em;
        .logo-link {
            max-width: 45%;
        }
    }
}

@keyframes appear {
    0% {
        opacity: .5;
        transform: translateX(1000px);
    }
    100% {
        opacity: 1;
    }
}