#personal-projects {
    background: linear-gradient(180deg, $background-color-1 0%, $background-color-3 40%);
    display: flex;
    flex-direction: column;
    .link-see-all-mobile {
        display: none;
        width: 8em;
        height: 2em;
        background-color: $background-color-4;
        font: bold 1em "Poppins";
        color: $font-color-3;
        text-align: center;
        text-transform: uppercase;
        border-radius: 5px;
        padding-top: .5em;
        margin: 2em auto;
    }
    .title-and-link-projects {
        display: flex;
        flex-direction: row;
        .title {
            margin: 5% auto 0 5%;
        }

        .link-see-all {
            width: 8em;
            height: 2em;
            background-color: $background-color-4;
            font: bold 1.2em "Poppins";
            color: $font-color-7;
            text-align: center;
            text-transform: uppercase;
            border-radius: 5px;
            padding-top: .5em;
            margin: 6% 5% auto;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    #base {
        display: flex;
        flex-direction: row;
        #small-base-1 {
            margin: 5% auto 0 auto;
            .star-project {
                align-items: start;
                width: 40.25em;
                max-height: 35em;
                display: flex;
                flex-direction: column;
                .zoom {
                    overflow: hidden;
                    border-radius: .5em;
                    .image-star-project {
                        width: 100%;
                        height: 100%;
                        opacity: 70%;
                        -moz-transition: all .5s;
                        -webkit-transition: all .5s;
                        transition: all .5s;
                        &:hover {
                            -moz-transform: scale(1.1);
                            -webkit-transform: scale(1.1);
                            transform: scale(1.1);
                        }
                    }
                }
                .title-and-technology-project {
                    .title-star-project {
                        font-size: 1.5em;
                        font-weight: 700;
                        color: $font-color-1;
                    }
                    .iconTechnologyProject {
                        width: 1.5em;
                        padding: 0 .1em;
                        opacity: .6;
                    }
                }
            }
        }

        #small-base-2 {
            margin: 3% auto;
            .secondarys-projects {
                width: 35.25em;
                height: 8em;
                background-color: $background-color-10;
                border-radius: .5em;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                margin-top: 5%;
                transition: transform .5s;
                &:hover {
                    transform: scale(1.02);
                }

                .name-and-description-proj {
                    display: flex;
                    flex-direction: column;
                    .title-project {
                        font-size: 1.5em;
                        font-weight: 600;
                        color: $font-color-1;
                        margin: .5em 0 0 .8em;
                    }
                    .text-project {
                        color: white;
                        margin: 0 auto 0 1.5em;
                        padding: 0;
                        font-size: .8em;
                    }
                    .technologyProject{
                        display: flex;
                        flex-direction: row;
                        padding: 1em 1em;
                        .iconTechnologyProject {
                            width: 1.5em;
                            padding: .1em;
                            opacity: .6;
                        }
                    }
                }
            
                .project-preview {
                    border-radius: 0 .5em .5em 0;
                    max-width: 50%;
                    opacity: .6;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px){
    #personal-projects {
        padding-bottom: 8em;
        #base {
            display: flex;
            flex-direction: column;
            padding: 0 auto 0 15%;
            margin: 0;

            #small-base-1 {
                .star-project {
                    max-width: 65vw;
                    height: 28em;
                    align-items: center;
                    .title-and-technology-project {
                        align-items: start;
                    }
                }
            }

            #small-base-2 {
                .secondarys-projects {
                    max-width: 65vw;
                }
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 645px){
    #personal-projects {
        background: linear-gradient(230deg, $background-color-7 0%, $background-color-3 50%);
        padding-bottom: 4em;
        padding-top: 3em;
        .link-see-all-mobile {
            display: block;
        }
        .title-and-link-projects {
            .title {
                margin: 5% auto;
            }
            .link-see-all {
                display: none;
            }
        }
        #base {
            #small-base-1 {
                .star-project {
                    margin: 5% auto 0 auto;
                    max-width: 90vw;
                    max-height: 23em;
                    align-items: start;
                    .title-star-project {
                        font-size: 1.2em;
                    }
                }
            }
            #small-base-2 {
                .secondarys-projects {
                    max-width: 90vw;
                    max-height: 7em;
                    .name-and-description-proj {
                        .title-project {
                            font-size: 1.2em;
                        }
                        .text-project {
                            margin: 0 auto 0 1.2em;
                        }
                        .technologyProject {
                            padding: .5em .8em;
                        }
                    }
                    .project-preview {
                        max-height: 85%;
                        margin: auto 0 auto 0;
                    }
                }
            }
        }
    }
}