#presentation {
    background: url(../images/background.svg) 5% center no-repeat;
    background-size: cover;
    min-height: 705px;
    overflow-x: hidden;
    #card-presentation {
        display: none;
    }

    .if-mobile-on {
        display: none;
    }

    #rocket {
        display: none;
    }

    .title {
        color: $font-color-1;
        font-size: 3.5em;
        font-weight: 700;
        margin: 0;
        padding-top: 2rem;
        text-align: center;
        animation: jump 2s linear infinite;
        span {
            color: $font-color-2;
        }
    }

    #about-description {
        color: $font-color-1;
        display: flex;
        font-size: 1em;
        font-weight: 400;
        margin: 0 auto 0 auto;
        text-align: center;
        width: 50%;
    }

    #presentation-link {
        color: $font-color-1;
        display: flex;
        font-size: 1.5em;
        font-weight: 700;
        justify-content: center;
        padding: 2rem;
        .about-link {
            color: $font-color-1;
            font-size: 1em;
            font-weight: 700;
            padding: 0 2rem 0 2rem;
            &:hover {
                text-decoration: underline;
                color: $font-color-3;
            }
        }
    }
    .button-back-top {
        background-color: $background-color-6 !important;
        border-radius: 50%;
        width: 3.5em;
        height: 3.5em;
        margin: 10% 0 0 90%;
        position: fixed;
        display: none;
        z-index: 1;
        .link-button-back-top {
            display: flex;
            justify-content: center;
            .image-button-back-top {
                opacity: 70%;
            }
        }
    }
    .active {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1280px){
    #presentation {
        .title {
            font-size: 2.5em;
            
        }

        #about-description {
            width: 60%;
        }
    }
}

@media screen and (max-width: 645px){
    #presentation {
        background: linear-gradient(130deg, $background-color-1 25%, $background-color-7 100%);
        min-height: 75vh;
        #rocket {
            display: block;
            width: 5em;
            position: absolute;
            margin: -17vh 0 0 25vw;
            animation: rocket .1s infinite linear;
        }
        #card-presentation {
            display: block;
            position: absolute;
            z-index: 0;
            width: 9em;
            height: 3em;
            background-color: $background-color-3;
            border-radius: .5em;
            text-align: center;
            align-items: center;
            margin: -15% 0 0 60vw;
            border: .1px solid $background-color-9;
            #card-content {
                background-image: linear-gradient(to right, $font-color-1, $font-color-3, $background-color-4);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: $font-color-1;
                font-family: "Martian Mono", monospace;
            }
        }
        .cover {
            margin-top: 29vh;
            .title {
                text-align: start;
                padding-left: .5em;
                display: flex;
                flex-direction: column;
                animation: none;
                font-size: 2em;
            }
            .button-back-top {
                margin: 40% 0 0 80%;
            }
            #about-description {
                width: 90%;
                margin-top: 5%;
                text-align: start;
            }
    
            #presentation-link {
                font-size: 1em;
                font-weight: 700;
                margin-left: -2em;
                width: 100vw;
                .about-link {
                    font-size: 1em;
                    font-weight: 700;
                    padding: 0 1rem 0 1rem;
                    text-align: start;
                    text-decoration: underline;
                }
            }
        }  
    }
}

@media screen and (max-width: 368px){
    #presentation {
        #card-presentation {
            margin-left: 50vw;
        }
        .cover {
            #presentation-link {
                margin-left: -2em;
                .about-link {
                    text-align: center;
                    margin: 0;
                    padding: 0 .5em 0 .5em;
                }
            }    
        }
    }
}


@keyframes jump {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(1.05);
    } 100% {
        transform: scale(1);
    }
}

@keyframes rocket {
    0%, 100% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
}