body {
    &::-webkit-scrollbar {
        width: 2px;
    }
    &::-webkit-scrollbar-track {
        background: $background-color-3;      
    }   
    &::-webkit-scrollbar-thumb {
        background-color: $font-color-3;
    }      
}