@import "variable";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6.3em; 
    body {
        margin: 0;
        padding: 0;
        cursor: url("../images/navigation-arrow-duotone.svg"), default;
        font: normal normal 16px 'Poppins', 'Arial', sans-serif;
        a {
            color: $font-color-4;
            text-decoration: none;
            cursor: url("../images/hand-pointing-duotone.svg"), pointer;
        }
        ul {
            list-style: none;
        }
    }
}

.title {
    font-size: 3.5em;
    font-weight: 700;
}

.title-white {
    font-size: 3.5em;
    font-weight: 700;
    color: $font-color-1;
}

@media screen and (max-width: 1280px){
    .title, .title-white {
        font-size: 2.5em;
    }
}

@media screen and (max-width:645px){
    .title, .title-white {
        font-size: 2em;
    }
}