$background-color-1: #0A1920;
$background-color-2: #1E4E64;
$background-color-3: #0D0D0D;
$background-color-4: #2D2D2D;
$background-color-5: #ffffff;
$background-color-6: #25252572;
$background-color-7: #193E4F;
$background-color-8: #255E78;
$background-color-9: #ECECEC;

$font-color-1: #FFFFFF;
$font-color-2: #49BDF2;
$font-color-3: #696969;
$font-color-4: #000000;
$font-color-5: #959595;
$font-color-6: #4f4e4e;
$font-color-7: #a0a0a0;