$background-color-1: #0A1920;
$background-color-2: #1E4E64;
$background-color-3: #0D0D0D;
$background-color-4: #2D2D2D;
$background-color-5: #ffffff;

$font-color-1: #FFFFFF;
$font-color-2: #49BDF2;
$font-color-3: #777777;
$font-color-4: #000000;