@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5em;
}
html body {
  margin: 0;
  padding: 0;
  cursor: url("../images/navigation-arrow-duotone.svg"), default;
  font: normal normal 16px "Poppins", "Arial", sans-serif;
}
html body a {
  color: #000000;
  text-decoration: none;
  cursor: url("../images/hand-pointing-duotone.svg"), pointer;
}
html body button {
  cursor: url("../images/hand-pointing-duotone.svg"), pointer;
}
html body ul {
  list-style: none;
}

* {
  overflow-x: hidden;
}

.title {
  font-size: 3.5em;
  font-weight: 700;
}

.title-white {
  font-size: 3.5em;
  font-weight: 700;
  color: #FFFFFF;
}

@media screen and (max-width: 1280px) {
  .title, .title-white {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 645px) {
  html {
    scroll-padding-top: 3.3em;
  }
  .title, .title-white {
    font-size: 2em;
  }
}
body::-webkit-scrollbar {
  width: 2px;
}
body::-webkit-scrollbar-track {
  background: #0D0D0D;
}
body::-webkit-scrollbar-thumb {
  background-color: #696969;
}

#navbar {
  background-color: #0A1920;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  margin-top: -6.4em;
  width: 100vw;
}
#navbar .social-link-menu {
  margin: 2em auto auto -2em;
  display: flex;
}
#navbar .social-link-menu .social-link {
  padding-left: 1em;
}
#navbar .social-link-menu .social-link:hover {
  opacity: 0.5;
}
#navbar .logo-link {
  padding: 1rem;
  transition: transform 0.7s;
}
#navbar .logo-link .main-logo {
  width: 85%;
}
#navbar .logo-link:hover {
  transform: scale(1.05);
}
#navbar .nav-list {
  display: flex;
}
#navbar .nav-list .dropdown:hover .menu-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#navbar .nav-list .dropdown .menu-dropdown {
  position: absolute;
  display: none;
  background-color: #193E4F;
  width: 10em;
  height: 15em;
  margin: 1em auto auto -2.5em;
  padding: 1em;
}
#navbar .nav-list .dropdown .menu-dropdown .link-dropdown {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 500;
  padding: 0.5em;
  border-radius: 0.5em;
}
#navbar .nav-list .dropdown .menu-dropdown .link-dropdown:hover {
  background-color: #255E78;
}
#navbar .nav-list .component-nav-list {
  padding: 1.2rem 2rem;
}
#navbar .nav-list .component-nav-list .link-nav-list {
  color: #FFFFFF;
  font-size: 1.25em;
  font-weight: 300;
}
#navbar .nav-list .component-nav-list .link-nav-list:hover {
  color: #696969;
  text-decoration: underline;
}
#navbar .nav-list .component-nav-list .link-nav-list .img-dropdown {
  width: 10%;
}
#navbar .mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.active {
  background-color: #0D0D0D !important;
}

@media screen and (max-width: 1280px) {
  #navbar .visible {
    display: block;
  }
  #navbar .not-visible {
    display: none;
  }
  #navbar .nav-list .component-nav-list {
    display: none;
  }
  #navbar .social-link-menu {
    display: none;
  }
  #navbar .mobile-menu-icon {
    display: block;
    padding: 2rem;
    cursor: pointer;
  }
  #navbar .mobile-menu-icon .button-menu {
    background-color: transparent;
    border: none;
  }
  .mobile-menu {
    background-color: #0A1920;
    position: fixed;
    z-index: 1;
    height: 100vh;
    animation: appear 0.3s linear;
    width: 100vw;
  }
  .mobile-menu .nav-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin: 0;
    height: 100vh;
  }
  .mobile-menu .nav-list .link-social-media {
    display: flex;
    flex-direction: row;
  }
  .mobile-menu .nav-list .link-social-media .social-link-mobile {
    padding: 1em !important;
  }
  .mobile-menu .nav-list .component-nav-list {
    display: block;
    padding: 2rem;
  }
  .mobile-menu .nav-list .component-nav-list .link-nav-list {
    font-size: 1.8em;
    font-weight: 500;
    color: #FFFFFF;
  }
  .open {
    display: block;
    overflow-y: hidden;
  }
}
@media screen and (max-width: 645px) {
  #navbar {
    height: 6em;
    margin-top: -6em;
  }
  #navbar .logo-link {
    max-width: 45%;
  }
}
@keyframes appear {
  0% {
    opacity: 0.5;
    transform: translateX(1000px);
  }
  100% {
    opacity: 1;
  }
}
#banner {
  background-color: #1E4E64;
  height: 10%;
  width: 100%;
  margin-top: 6.4em;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  animation: colorBorder infinite linear 8s;
}
#banner #text-banner {
  color: #FFFFFF;
  display: flex;
  font-size: 1.15em;
  font-weight: 400;
  justify-content: center;
  margin: 0;
  padding: 0.5rem 0 0.5rem 0;
}

@media screen and (max-width: 1280px) {
  #banner #text-banner {
    font-size: 1em;
    margin: 0 2rem 0 2em;
    text-align: center;
  }
}
@media screen and (max-width: 645px) {
  #banner {
    margin-top: 6em;
  }
}
@keyframes colorBorder {
  0% {
    border-color: #ffffff;
  }
  20% {
    border-color: #00ffff;
  }
  40% {
    border-color: #000BE6;
  }
  60% {
    border-color: #000BE6;
  }
  80% {
    border-color: #00ffff;
  }
  100% {
    border-color: #ffffff;
  }
}
#presentation {
  background: url(../images/background.svg) 5% center no-repeat;
  background-size: cover;
  min-height: 705px;
  overflow-x: hidden;
}
#presentation #card-presentation {
  display: none;
}
#presentation .if-mobile-on {
  display: none;
}
#presentation #rocket {
  display: none;
}
#presentation .stars {
  background-color: #ffffff;
  width: 1px;
  height: 5em;
  position: absolute;
  z-index: 0;
  display: none;
}
#presentation .title {
  color: #FFFFFF;
  font-size: 3.5em;
  font-weight: 700;
  margin: 0;
  padding-top: 2rem;
  text-align: center;
  animation: jump 2s linear infinite;
}
#presentation .title span {
  color: #49BDF2;
}
#presentation #about-description {
  color: #FFFFFF;
  display: flex;
  font-size: 1em;
  font-weight: 400;
  margin: 0 auto 0 auto;
  text-align: center;
  width: 50%;
}
#presentation #presentation-link {
  color: #FFFFFF;
  display: flex;
  font-size: 1.5em;
  font-weight: 700;
  justify-content: center;
  padding: 2rem;
}
#presentation #presentation-link .about-link {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 700;
  padding: 0 2rem 0 2rem;
}
#presentation #presentation-link .about-link:hover {
  text-decoration: underline;
  color: #696969;
}
#presentation .button-back-top {
  background-color: rgba(37, 37, 37, 0.4470588235) !important;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  margin: 10% 0 0 90%;
  position: fixed;
  display: none;
  z-index: 1;
}
#presentation .button-back-top .link-button-back-top {
  display: flex;
  justify-content: center;
}
#presentation .button-back-top .link-button-back-top .image-button-back-top {
  opacity: 70%;
}
#presentation .active {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  #presentation .title {
    font-size: 2.5em;
  }
  #presentation #about-description {
    width: 60%;
  }
}
@media screen and (max-width: 645px) {
  #presentation {
    background: linear-gradient(130deg, #0A1920 25%, #193E4F 100%);
    min-height: 75vh;
  }
  #presentation #rocket {
    display: block;
    width: 5em;
    position: absolute;
    margin: -17vh 0 0 25vw;
    animation: rocket 0.1s infinite linear;
  }
  #presentation #card-presentation {
    display: block;
    position: absolute;
    z-index: 0;
    width: 9em;
    height: 3em;
    background-color: #0D0D0D;
    border-radius: 0.5em;
    text-align: center;
    align-items: center;
    margin: -15% 0 0 60vw;
    border: 0.1px solid #ECECEC;
  }
  #presentation #card-presentation #card-content {
    background-image: linear-gradient(to right, #FFFFFF, #696969, #2D2D2D);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FFFFFF;
    font-family: "Martian Mono", monospace;
  }
  #presentation .cover {
    margin-top: 29vh;
  }
  #presentation .cover .title {
    text-align: start;
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
    animation: none;
    font-size: 2em;
  }
  #presentation .cover .stars {
    display: block;
    transform: rotate(45deg);
    margin-top: -15em;
  }
  #presentation .cover .star-1 {
    margin-left: 9em;
    animation: star-1 0.3s infinite linear;
  }
  #presentation .cover .star-2 {
    margin-left: 11em;
    height: 3em;
    animation: star-2 0.4s infinite linear;
  }
  #presentation .cover .star-3 {
    margin-left: 12em;
    height: 2em;
    animation: star-3 0.2s infinite linear;
  }
  #presentation .cover .star-4 {
    margin-left: 13em;
    height: 4em;
    animation: star-4 0.4s infinite linear;
  }
  #presentation .cover .star-5 {
    margin-left: 15em;
    animation: star-5 0.2s infinite linear;
  }
  #presentation .cover .star-6 {
    margin-left: 17em;
    height: 4em;
    animation: star-6 0.3s infinite linear;
  }
  #presentation .cover .button-back-top {
    margin: 20% 0 0 70%;
    width: 4.5em;
    height: 4.5em;
  }
  #presentation .cover .button-back-top .image-button-back-top {
    width: 80%;
  }
  #presentation .cover #about-description {
    width: 90%;
    margin-top: 5%;
    text-align: start;
  }
  #presentation .cover #presentation-link {
    font-size: 1em;
    font-weight: 700;
    margin-left: -2em;
    width: 100vw;
    padding-right: 0;
  }
  #presentation .cover #presentation-link .about-link {
    font-size: 1em;
    font-weight: 700;
    padding: 0 1rem 0 1rem;
    text-align: start;
    text-decoration: underline;
  }
}
@media screen and (max-width: 368px) {
  #presentation #card-presentation {
    margin-left: 50vw;
  }
  #presentation .cover #presentation-link {
    margin-left: -2em;
  }
  #presentation .cover #presentation-link .about-link {
    text-align: center;
    margin: 0;
    padding: 0 0.5em 0 0.5em;
  }
}
@keyframes jump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rocket {
  0%, 100% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
}
@keyframes star-1 {
  0% {
    margin: -15em 0 0 11em;
  }
  100% {
    margin: -5em 0 0 0;
  } /*100% {
    margin: -15em 0 0 11em;
}*/
}
@keyframes star-2 {
  0% {
    margin: -15em 0 0 13em;
  }
  100% {
    margin: 0 0 0 -2em;
  } /*100% {
    margin: -15em 0 0 13em;
}*/
}
@keyframes star-3 {
  0% {
    margin: -15em 0 0 15em;
  }
  100% {
    margin: 1em 0 0 -2em;
  } /*100% {
    margin: -15em 0 0 15em;
}*/
}
@keyframes star-4 {
  0% {
    margin: -15em 0 0 17em;
  }
  100% {
    margin: 2em 0 0 -2em;
  } /*100% {
    margin: -15em 0 0 17em;
}*/
}
@keyframes star-5 {
  0% {
    margin: -15em 0 0 19em;
  }
  100% {
    margin: 3em 0 0 0;
  } /*100% {
    margin: -15em 0 0 19em;
}*/
}
@keyframes star-6 {
  0% {
    margin: -15em 0 0 21em;
  }
  100% {
    margin: 5em 0 0 0;
  } /*100% {
    margin: -15em 0 0 21em;
}*/
}
#personal-projects {
  background: linear-gradient(180deg, #0A1920 0%, #0D0D0D 40%);
  display: flex;
  flex-direction: column;
}
#personal-projects .link-see-all-mobile {
  display: none;
  width: 8em;
  height: 2em;
  background-color: #2D2D2D;
  font: bold 1em "Poppins";
  color: #696969;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  padding-top: 0.5em;
  margin: 2em auto;
}
#personal-projects .title-and-link-projects {
  display: flex;
  flex-direction: row;
}
#personal-projects .title-and-link-projects .title {
  margin: 5% auto 0 5%;
}
#personal-projects .title-and-link-projects .link-see-all {
  width: 8em;
  height: 2em;
  background-color: #2D2D2D;
  font: bold 1.2em "Poppins";
  color: #a0a0a0;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  padding-top: 0.5em;
  margin: 6% 5% auto;
}
#personal-projects .title-and-link-projects .link-see-all:hover {
  text-decoration: underline;
}
#personal-projects #base {
  display: flex;
  flex-direction: row;
}
#personal-projects #base #small-base-1 {
  margin: 5% auto 0 auto;
}
#personal-projects #base #small-base-1 .star-project {
  align-items: start;
  width: 40.25em;
  max-height: 35em;
  display: flex;
  flex-direction: column;
}
#personal-projects #base #small-base-1 .star-project .zoom {
  overflow: hidden;
  border-radius: 0.5em;
}
#personal-projects #base #small-base-1 .star-project .zoom .image-star-project {
  width: 100%;
  height: 100%;
  opacity: 70%;
  transition: all 0.5s;
}
#personal-projects #base #small-base-1 .star-project .zoom .image-star-project:hover {
  transform: scale(1.1);
}
#personal-projects #base #small-base-1 .star-project .title-and-technology-project .title-star-project {
  font-size: 1.5em;
  font-weight: 700;
  color: #FFFFFF;
}
#personal-projects #base #small-base-1 .star-project .title-and-technology-project .iconTechnologyProject {
  width: 1.5em;
  padding: 0 0.1em;
  opacity: 0.6;
}
#personal-projects #base #small-base-2 {
  margin: 3% auto;
}
#personal-projects #base #small-base-2 .secondarys-projects {
  width: 35.25em;
  height: 8em;
  background-color: rgba(45, 45, 45, 0.4588235294);
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 5%;
  transition: transform 0.5s;
}
#personal-projects #base #small-base-2 .secondarys-projects:hover {
  transform: scale(1.02);
}
#personal-projects #base #small-base-2 .secondarys-projects .name-and-description-proj {
  display: flex;
  flex-direction: column;
}
#personal-projects #base #small-base-2 .secondarys-projects .name-and-description-proj .title-project {
  font-size: 1.5em;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0.5em 0 0 0.8em;
}
#personal-projects #base #small-base-2 .secondarys-projects .name-and-description-proj .text-project {
  color: white;
  margin: 0 auto 0 1.5em;
  padding: 0;
  font-size: 0.8em;
}
#personal-projects #base #small-base-2 .secondarys-projects .name-and-description-proj .technologyProject {
  display: flex;
  flex-direction: row;
  padding: 1em 1em;
}
#personal-projects #base #small-base-2 .secondarys-projects .name-and-description-proj .technologyProject .iconTechnologyProject {
  width: 1.5em;
  padding: 0.1em;
  opacity: 0.6;
}
#personal-projects #base #small-base-2 .secondarys-projects .project-preview {
  border-radius: 0 0.5em 0.5em 0;
  max-width: 50%;
  opacity: 0.6;
}

@media screen and (max-width: 1280px) {
  #personal-projects {
    padding-bottom: 8em;
  }
  #personal-projects #base {
    display: flex;
    flex-direction: column;
    padding: 0 auto 0 15%;
    margin: 0;
  }
  #personal-projects #base #small-base-1 .star-project {
    max-width: 65vw;
    height: 28em;
    align-items: center;
  }
  #personal-projects #base #small-base-1 .star-project .title-and-technology-project {
    align-items: start;
  }
  #personal-projects #base #small-base-2 {
    margin: auto;
  }
  #personal-projects #base #small-base-2 .secondarys-projects {
    max-width: 65vw;
  }
}
@media screen and (max-width: 645px) {
  #personal-projects {
    background: linear-gradient(230deg, #193E4F 0%, #0D0D0D 50%);
    padding-bottom: 4em;
    padding-top: 3em;
  }
  #personal-projects .link-see-all-mobile {
    display: block;
  }
  #personal-projects .title-and-link-projects .title {
    margin: 5% auto;
  }
  #personal-projects .title-and-link-projects .link-see-all {
    display: none;
  }
  #personal-projects #base #small-base-1 .star-project {
    margin: 5% auto 0 auto;
    max-width: 90vw;
    max-height: 23em;
    align-items: start;
  }
  #personal-projects #base #small-base-1 .star-project .title-star-project {
    font-size: 1.2em;
  }
  #personal-projects #base #small-base-2 .secondarys-projects {
    max-width: 90vw;
    max-height: 7em;
  }
  #personal-projects #base #small-base-2 .secondarys-projects .name-and-description-proj .title-project {
    font-size: 1.2em;
  }
  #personal-projects #base #small-base-2 .secondarys-projects .name-and-description-proj .text-project {
    margin: 0 auto 0 1.2em;
  }
  #personal-projects #base #small-base-2 .secondarys-projects .name-and-description-proj .technologyProject {
    padding: 0.5em 0.8em;
  }
  #personal-projects #base #small-base-2 .secondarys-projects .project-preview {
    max-height: 85%;
    margin: auto 0 auto 0;
  }
}
#certifications {
  padding-top: 5em;
  padding-bottom: 3em;
}
#certifications .title {
  margin: 0 auto 0 30%;
  padding-bottom: 1em;
}
#certifications .button-see-all {
  display: flex;
  justify-content: center;
  width: 8em;
  height: 2.5em;
  background-color: #2D2D2D;
  font: bold 1.2em "Poppins";
  color: #a0a0a0;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding-top: 0.5em;
  margin: 5em auto;
}
#certifications .button-see-all .see-less {
  display: none;
}
#certifications .button-see-all:hover {
  text-decoration: underline;
}
#certifications .container {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#certifications .container .certification {
  background-color: #ECECEC;
  padding: 0 1.5em 1em 0;
  border-radius: 0.5em;
  width: 30vw;
  min-height: 8.75em;
  display: flex;
  flex-direction: row;
  transition: transform 0.5s;
}
#certifications .container .certification:hover {
  transform: scale(1.02);
  text-decoration: underline;
}
#certifications .container .certification .institution-logo {
  border-radius: 0.5em 0 0 0;
  width: 5em;
  height: 5em;
}
#certifications .container .certification .title-and-description-course .course {
  max-width: 95%;
  min-height: 3em;
  margin: 0.5em 0 0 1em;
  font-size: 1em;
}
#certifications .container .certification .title-and-description-course .institution {
  font-weight: 400;
  text-align: start;
  margin: 0 0 0 1em;
}
#certifications .container .certification .title-and-description-course .credential {
  margin: 2em 0 0 1em;
  text-align: start;
  max-width: 95%;
}
#certifications .invisible {
  display: none;
}
#certifications .visible {
  display: flex !important;
}

@media screen and (max-width: 1280px) {
  #certifications {
    padding-bottom: 0;
  }
  #certifications .container {
    flex-direction: column;
  }
  #certifications .container .certification {
    margin: 0 auto 1em auto;
    min-width: 32em;
  }
}
@media screen and (max-width: 645px) {
  #certifications .title {
    margin: auto;
    text-align: center;
  }
  #certifications .container .certification {
    min-width: 85vw;
  }
  #certifications .container .certification .institution-logo {
    min-width: 4em;
    min-height: 4em;
    max-width: 4em;
    max-height: 4em;
  }
}
footer {
  background-color: #2D2D2D;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}
footer .footer-logo {
  width: 3em;
}
footer .footer-logo:hover {
  opacity: 70%;
}
footer .footer-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2em 0 1em 0;
  margin: auto;
  width: 12em;
}
footer .footer-list .link-footer-list:hover {
  opacity: 70%;
}
footer .line {
  width: 85vw;
}
footer .text-footer {
  color: #e7e7e7;
}
footer .back-to-the-top {
  padding: 1em 0 1em 0;
  color: #e7e7e7;
  text-transform: uppercase;
}
footer .back-to-the-top:hover {
  text-decoration: underline;
  opacity: 70%;
}

@media screen and (max-width: 645px) {
  footer .text-footer {
    width: 70%;
    margin: auto;
  }
}
#letswork {
  display: flex;
  justify-content: end;
}
#letswork .description {
  display: flex;
  flex-direction: column;
}
#letswork .description .text-letswork {
  color: #696969;
  margin: 10em 0 0 8em;
  text-transform: uppercase;
  font-weight: 500;
}
#letswork .description .link-letswork {
  font-size: 4em;
  font-weight: 700;
  padding-left: 2em;
}
#letswork .description .link-letswork:hover {
  text-decoration: underline;
}
#letswork .front-end-dev {
  width: 50em;
  height: 30em;
}
#letswork .front-end-dev-mob {
  display: none;
}

@media screen and (max-width: 1280px) {
  #letswork {
    padding-top: 5em;
    flex-direction: column;
  }
  #letswork .description {
    padding-bottom: 5em;
  }
  #letswork .description .text-letswork {
    margin: auto;
  }
  #letswork .description .link-letswork {
    font-size: 3em;
    margin: auto;
  }
  #letswork .front-end-dev {
    display: none;
  }
  #letswork .front-end-dev-mob {
    display: block;
    width: 100vw;
  }
}
@media screen and (max-width: 645px) {
  #letswork .description .link-letswork {
    font-size: 2em;
    text-align: center;
    padding: 0;
    padding: 0 1em 0 1em;
    margin: auto;
  }
}
#aboutme {
  display: flex;
  flex-direction: row;
  margin: 5em auto 0 auto;
  width: 60vw;
  padding-bottom: 6em;
}
#aboutme .personal-photo {
  width: 100%;
}
#aboutme .title-and-description-2 {
  text-align: center;
  padding: 0 0 0 5em;
}
#aboutme .container-rsm-download {
  width: 12em;
  height: 3em;
  background-color: #255E78;
  margin: 3em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutme .container-rsm-download .resume-download {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.2em;
}
#aboutme .container-rsm-download .resume-download .text-rsm-download {
  margin: 0;
}
#aboutme .container-rsm-download:hover {
  -webkit-text-decoration: underline 1.5px solid white;
          text-decoration: underline 1.5px solid white;
}

@media screen and (max-width: 1280px) {
  #aboutme {
    flex-direction: column;
    align-items: center;
  }
  #aboutme .personal-photo {
    width: 30%;
  }
  #aboutme .title-and-description-2 {
    padding: 0;
  }
}
@media screen and (max-width: 645px) {
  #aboutme {
    width: 90vw;
    margin: 5em auto 0 auto;
  }
}
#education {
  background-color: #ECECEC;
  padding-top: 5em;
  padding-bottom: 5em;
}
#education .title {
  margin: 0 auto 0 5%;
}
#education .faculty {
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin: auto auto 0 5%;
}
#education .faculty .title-and-description-faculty {
  padding: 1em;
}
#education .faculty .title-and-description-faculty .faculty-title {
  margin: 0;
}
#education .faculty .title-and-description-faculty .faculty-description {
  display: flex;
  flex-direction: column;
  margin: 0;
}
#education .faculty .title-and-description-faculty .faculty-description .faculty-data {
  color: #4f4e4e;
}

@media screen and (max-width: 645px) {
  #education {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
  }
  #education .title {
    width: 100%;
    margin: auto;
  }
  #education .faculty {
    text-align: start;
  }
  #education .faculty .faculty-description {
    width: 75vw;
  }
}
#differential {
  background-color: #ECECEC;
  padding-bottom: 5em;
}
#differential .title {
  text-align: center;
  padding-top: 1em;
}
#differential .card-list {
  display: flex;
  justify-content: center;
  padding: 2em 0 0 0;
}
#differential .card-list .card {
  background: linear-gradient(130deg, #0A1920 35%, #193E4F 90%);
  max-width: 19.25em;
  max-height: 18.6em;
  border-radius: 1em;
  margin-left: 1em;
}
#differential .card-list .card .title-card {
  color: #FFFFFF;
  font-size: 1.5em;
  text-align: start;
  margin-left: 1em;
  width: 200px;
}
#differential .card-list .card .description-skill {
  color: #e7e7e7;
  max-width: 80%;
  margin: -1em 0 0 1.5em;
}
#differential .card-list .card #layout-image {
  width: 5em;
  margin: 1em 0 0 13em;
}
#differential .card-list .card #code-image {
  width: 5em;
  margin: 3.5em 0 0 13em;
}
#differential .card-list .card #engine-image {
  width: 5em;
  margin: 0em 0 0 13em;
}
#differential .card-list .card #person-image {
  width: 5em;
  margin: 1em 0 0 13em;
}

@media screen and (max-width: 1280px) {
  #differential .card-list {
    flex-direction: column;
    align-items: center;
  }
  #differential .card-list .card {
    min-width: 50vw;
    margin: 1em 0 1em 0;
  }
  #differential .card-list .card #layout-image {
    margin: 1em 0 0 40vw;
  }
  #differential .card-list .card #code-image {
    margin: 3.5em 0 0 40vw;
  }
  #differential .card-list .card #engine-image {
    margin: 0em 0 0 40vw;
  }
  #differential .card-list .card #person-image {
    margin: 1em 0 0 40vw;
  }
}
@media screen and (max-width: 900px) {
  #differential .card-list .card #layout-image {
    margin: 1em 0 0 35vw;
  }
  #differential .card-list .card #code-image {
    margin: 3.5em 0 0 35vw;
  }
  #differential .card-list .card #engine-image {
    margin: 0em 0 0 35vw;
  }
  #differential .card-list .card #person-image {
    margin: 1em 0 0 35vw;
  }
}
@media screen and (max-width: 645px) {
  #differential .card-list {
    flex-direction: column;
    align-items: center;
  }
  #differential .card-list .card {
    margin: 1em 0 1em 0;
    max-width: 90vw;
    min-height: 22vh;
  }
  #differential .card-list .card .title-card {
    width: 100vw;
    font-size: 1.2em;
    margin-left: 1.3em;
  }
  #differential .card-list .card #layout-image {
    width: 4em;
    margin: 0.5vh 0 0 70vw;
  }
  #differential .card-list .card #code-image {
    width: 4em;
    margin: 0.5vh 0 0 70vw;
  }
  #differential .card-list .card #engine-image {
    width: 4em;
    margin: 0.5vh 0 0 70vw;
  }
  #differential .card-list .card #person-image {
    width: 4em;
    margin: 0 0 0 70vw;
  }
}
#main-blog {
  background-color: #ECECEC;
}
#main-blog .old-aritcle {
  width: 35em;
}
#main-blog .old-aritcle .img-old-article {
  width: 35em;
}
#main-blog .old-aritcle .title-old-article {
  font-size: 1.7em;
  margin-bottom: 0;
}
#main-blog .old-aritcle .date-old-article {
  margin-top: 0;
}
#main-blog .old-aritcle .description-old-article {
  width: 100%;
}

#star-blog {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 6.3em auto;
}
#star-blog #link-for-prince-article {
  margin-top: 5em;
}
#star-blog #link-for-prince-article #prince-article-img {
  width: 80vw;
  height: auto;
}
#star-blog #link-for-prince-article #article-title {
  font-size: 2.5em;
  margin-bottom: 0;
  color: #1f1f1f;
}
#star-blog #link-for-prince-article #article-date {
  margin-top: 0;
}
#star-blog #link-for-prince-article #article-description {
  min-width: 100%;
  color: #696969;
}/*# sourceMappingURL=style.css.map */