@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body {
  margin: 0;
  padding: 0;
  font: normal normal 16px "Poppins", "Arial", sans-serif;
}
html a, body a {
  color: #000000;
  text-decoration: none;
}
html ul, body ul {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: #0D0D0D;
}
body::-webkit-scrollbar-thumb {
  background-color: #777777;
}

#navbar {
  background-color: #0A1920;
  display: flex;
  justify-content: space-between;
}
#navbar .logo-link {
  padding: 1rem;
  transition: transform 0.7s;
}
#navbar .logo-link .main-logo {
  width: 85%;
}
#navbar .logo-link:hover {
  transform: scale(1.05);
}
#navbar .nav-list {
  display: flex;
}
#navbar .nav-list .component-nav-list {
  padding: 1.2rem 2rem;
}
#navbar .nav-list .component-nav-list .link-nav-list {
  color: #FFFFFF;
  font-size: 1.25em;
  font-weight: 300;
}
#navbar .nav-list .component-nav-list .link-nav-list:hover {
  color: #777777;
  text-decoration: underline;
}
#navbar .mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 1280px) {
  #navbar .nav-list .component-nav-list {
    display: none;
  }
  #navbar .mobile-menu-icon {
    display: block;
    padding: 2rem;
    cursor: pointer;
  }
  #navbar .mobile-menu-icon .button-menu {
    background-color: transparent;
    border: none;
  }
  .mobile-menu {
    background-color: #0A1920;
  }
  .mobile-menu .nav-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin: 0;
    height: 100vh;
  }
  .mobile-menu .nav-list .component-nav-list {
    display: block;
    padding: 2rem;
  }
  .mobile-menu .nav-list .component-nav-list .link-nav-list {
    font-size: 1.8em;
    font-weight: 500;
    color: #FFFFFF;
  }
  .open {
    display: block;
  }
}
@media screen and (max-width: 645px) {
  #navbar .logo-link {
    width: 65%;
  }
}
#banner {
  background-color: #1E4E64;
  height: 10%;
  width: 100%;
}
#banner .text-banner {
  color: #FFFFFF;
  display: flex;
  font-size: 1.15em;
  font-weight: 400;
  justify-content: center;
  margin: 0;
  padding: 0.5rem 0 0.5rem 0;
}

@media screen and (max-width: 1280px) {
  #banner .text-banner {
    font-size: 1em;
    margin: 0 2rem 0 2em;
    text-align: center;
  }
}
#presentation {
  background: url(../images/background.svg) 5% center no-repeat;
  background-size: cover;
  min-height: 705px;
  overflow-x: hidden;
}
#presentation .crobat {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 4rem auto auto 6rem;
  animation: crobatAnimation 60s infinite linear;
}
#presentation .title {
  color: #FFFFFF;
  font-size: 3.5em;
  font-weight: 700;
  margin: 0;
  padding-top: 2rem;
  text-align: center;
  animation: jump 2s linear infinite;
}
#presentation .title span {
  color: #49BDF2;
}
#presentation .about-description {
  color: #FFFFFF;
  display: flex;
  font-size: 1em;
  font-weight: 400;
  margin: 0 auto 0 auto;
  text-align: center;
  width: 50%;
}
#presentation .paragraph-link {
  color: #FFFFFF;
  display: flex;
  font-size: 1.5em;
  font-weight: 700;
  justify-content: center;
  padding: 2rem;
}
#presentation .paragraph-link .about-link {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 700;
  padding: 0 2rem 0 2rem;
}
#presentation .paragraph-link .about-link:hover {
  text-decoration: underline;
  color: #777777;
}

@media screen and (max-width: 1280px) {
  #presentation .crobat {
    animation: crobatTabAnimation 20s infinite linear;
  }
  #presentation .title {
    font-size: 2.5em;
  }
  #presentation .about-description {
    width: 60%;
  }
}
@media screen and (max-width: 645px) {
  #presentation .crobat {
    animation: crobatMobAnimation 10s infinite linear;
    margin: 1rem auto auto 4rem;
  }
  #presentation .paragraph-link {
    font-size: 1em;
    font-weight: 700;
    padding: 1rem;
  }
  #presentation .paragraph-link .about-link {
    font-size: 1em;
    font-weight: 700;
    padding: 0 1rem 0 1rem;
    text-align: center;
  }
}
@keyframes jump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes crobatAnimation {
  0% {
    margin: 4rem auto auto 6rem;
  }
  12.5% {
    margin: 20rem auto auto 10rem;
  }
  25% {
    margin: 23rem auto auto 80rem;
  }
  37.5% {
    margin: 5rem auto auto 65rem;
  }
  50% {
    margin: -15rem auto auto 80rem;
  }
  62.5% {
    margin: 0rem auto auto 55rem;
  }
  75% {
    margin: 0rem auto auto 25rem;
  }
  87.5% {
    margin: -15rem auto auto 6rem;
  }
  100% {
    margin: 4rem auto auto 6rem;
  }
}
@keyframes crobatTabAnimation {
  0% {
    margin: 4rem auto auto 6rem;
  }
  12.5% {
    margin: 20rem auto auto 10rem;
  }
  25% {
    margin: 10rem auto auto 15rem;
  }
  37.5% {
    margin: 20rem auto auto 30rem;
  }
  50% {
    margin: 0rem auto auto 20rem;
  }
  62.5% {
    margin: 0rem auto auto 25rem;
  }
  75% {
    margin: 0rem auto auto 15rem;
  }
  87.5% {
    margin: 0rem auto auto 6rem;
  }
  100% {
    margin: 4rem auto auto 6rem;
  }
}
@keyframes crobatMobAnimation {
  0% {
    margin: 1rem auto auto 4rem;
  }
  25% {
    margin: 12rem auto auto 4rem;
  }
  50% {
    margin: 12rem auto auto 18rem;
  }
  75% {
    margin: 1rem auto auto 18rem;
  }
  100% {
    margin: 1rem auto auto 4rem;
  }
}
#personal-projects {
  background-color: #0D0D0D;
  display: flex;
  flex-direction: column;
}
#personal-projects .title-and-link-projects {
  display: flex;
  flex-direction: row;
}
#personal-projects .title-and-link-projects .title {
  color: #FFFFFF;
  font-size: 3.5em;
  font-weight: 700;
  margin: 5% auto 0 5%;
}
#personal-projects .title-and-link-projects .link-see-all {
  width: 8em;
  height: 2em;
  background-color: #2D2D2D;
  font: bold 1.2em "Poppins";
  color: #777777;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  padding-top: 0.5em;
  margin: 6% 5% auto;
}
#personal-projects .title-and-link-projects .link-see-all:hover {
  text-decoration: underline;
}
#personal-projects .base {
  display: flex;
  flex-direction: row;
}
#personal-projects .base .star-project {
  max-width: 40.25em;
  max-height: 23.5em;
  border-radius: 1.6em;
  background: url(../images/tabela-de-precos.svg) no-repeat;
  margin: 5% auto 0 auto;
  display: flex;
}
#personal-projects .base .star-project .link-star-project {
  font-size: 1.8em;
  font-weight: 700;
  color: #FFFFFF;
  margin: 45% auto;
  padding: 0 1em 0 1em;
}
#personal-projects .base .star-project .link-star-project:hover {
  text-decoration: underline;
}
#personal-projects .base .star-project:hover {
  border: 0.1em solid #FFFFFF;
}
#personal-projects .base .small-base {
  margin: 3% auto auto 0;
}
#personal-projects .base .small-base .secondarys-projects {
  max-width: 40.25em;
  max-height: 8em;
  background-color: #2D2D2D;
  border-radius: 1.8em;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
#personal-projects .base .small-base .secondarys-projects:hover {
  border: 0.1em solid #FFFFFF;
}
#personal-projects .base .small-base .secondarys-projects .name-and-description-proj {
  display: flex;
  flex-direction: column;
}
#personal-projects .base .small-base .secondarys-projects .name-and-description-proj .link-project {
  font-size: 1.5em;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0.5em 0 0 1em;
}
#personal-projects .base .small-base .secondarys-projects .name-and-description-proj .link-project:hover {
  text-decoration: underline;
}
#personal-projects .base .small-base .secondarys-projects .name-and-description-proj .project-description {
  font-weight: 400;
  color: #FFFFFF;
  margin: 0 0 0 2em;
}
#personal-projects .base .small-base .secondarys-projects .project-preview {
  border-radius: 0 1.8em 1.8em 0;
  max-width: 50%;
}

@media screen and (max-width: 1280px) {
  #personal-projects .title-and-link-projects .title {
    font-size: 2.5em;
  }
  #personal-projects .base {
    display: flex;
    flex-direction: column;
    padding: 0 auto 0 15%;
    margin: 0;
  }
  #personal-projects .base .small-base {
    margin: auto;
  }
}
@media screen and (max-width: 645px) {
  #personal-projects .title-and-link-projects .title {
    font-size: 2em;
  }
  #personal-projects .title-and-link-projects .link-see-all {
    width: 10em;
    font-size: 1em;
  }
  #personal-projects .base .star-project {
    margin: 10% auto 0 auto;
    max-width: 21.25em;
    max-height: 13.5em;
  }
  #personal-projects .base .star-project .link-star-project {
    font-size: 1.5em;
    margin: 40% auto;
  }
  #personal-projects .base .small-base .secondarys-projects {
    max-width: 21.25em;
  }
  #personal-projects .base .small-base .secondarys-projects .name-and-description-proj .link-project {
    font-size: 1.2em;
  }
}
.banner-before-footer {
  width: 50%;
}/*# sourceMappingURL=style.css.map */