@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
  scroll-padding-top: 6.3em;
}
html body {
  margin: 0;
  padding: 0;
  cursor: url("../images/navigation-arrow-duotone.svg"), default;
  font: normal normal 16px "Poppins", "Arial", sans-serif;
}
html body a {
  color: #000000;
  text-decoration: none;
  cursor: url("../images/hand-pointing-duotone.svg"), pointer;
}
html body ul {
  list-style: none;
}

.title {
  font-size: 3.5em;
  font-weight: 700;
}

.title-white {
  font-size: 3.5em;
  font-weight: 700;
  color: #FFFFFF;
}

@media screen and (max-width: 1280px) {
  .title, .title-white {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 645px) {
  .title, .title-white {
    font-size: 2em;
  }
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: #0D0D0D;
}
body::-webkit-scrollbar-thumb {
  background-color: #777777;
}

#navbar {
  background-color: #0A1920;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  margin-top: -6.4em;
  width: 100vw;
}
#navbar .logo-link {
  padding: 1rem;
  transition: transform 0.7s;
}
#navbar .logo-link .main-logo {
  width: 85%;
}
#navbar .logo-link:hover {
  transform: scale(1.05);
}
#navbar .nav-list {
  display: flex;
}
#navbar .nav-list .dropdown:hover .menu-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#navbar .nav-list .dropdown .menu-dropdown {
  position: absolute;
  display: none;
  background-color: #193E4F;
  width: 10em;
  height: 15em;
  margin: 1em auto auto -2.5em;
  padding: 1em;
}
#navbar .nav-list .dropdown .menu-dropdown .link-dropdown {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 500;
  padding: 0.5em;
  border-radius: 0.5em;
}
#navbar .nav-list .dropdown .menu-dropdown .link-dropdown:hover {
  background-color: #255E78;
}
#navbar .nav-list .component-nav-list {
  padding: 1.2rem 2rem;
}
#navbar .nav-list .component-nav-list .link-nav-list {
  color: #FFFFFF;
  font-size: 1.25em;
  font-weight: 300;
}
#navbar .nav-list .component-nav-list .link-nav-list:hover {
  color: #777777;
  text-decoration: underline;
}
#navbar .nav-list .component-nav-list .link-nav-list .img-dropdown {
  width: 10%;
}
#navbar .mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.active {
  background-color: #0D0D0D !important;
}

@media screen and (max-width: 1280px) {
  #navbar .nav-list .component-nav-list {
    display: none;
  }
  #navbar .mobile-menu-icon {
    display: block;
    padding: 2rem;
    cursor: pointer;
  }
  #navbar .mobile-menu-icon .button-menu {
    background-color: transparent;
    border: none;
  }
  .mobile-menu {
    background-color: #0A1920;
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
  }
  .mobile-menu .nav-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin: 0;
    height: 100vh;
  }
  .mobile-menu .nav-list .component-nav-list {
    display: block;
    padding: 2rem;
  }
  .mobile-menu .nav-list .component-nav-list .link-nav-list {
    font-size: 1.8em;
    font-weight: 500;
    color: #FFFFFF;
  }
  .open {
    display: block;
  }
}
@media screen and (max-width: 645px) {
  #navbar {
    height: 6em;
    margin-top: -6em;
  }
  #navbar .logo-link {
    max-width: 45%;
  }
}
#banner {
  background-color: #1E4E64;
  height: 10%;
  width: 100%;
  margin-top: 6.4em;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  animation: colorBorder infinite linear 8s;
}
#banner .text-banner {
  color: #FFFFFF;
  display: flex;
  font-size: 1.15em;
  font-weight: 400;
  justify-content: center;
  margin: 0;
  padding: 0.5rem 0 0.5rem 0;
}

@media screen and (max-width: 1280px) {
  #banner .text-banner {
    font-size: 1em;
    margin: 0 2rem 0 2em;
    text-align: center;
  }
}
@media screen and (max-width: 645px) {
  #banner {
    margin-top: 6em;
  }
}
@keyframes colorBorder {
  0% {
    border-color: #ffffff;
  }
  20% {
    border-color: #00ffff;
  }
  40% {
    border-color: #000BE6;
  }
  60% {
    border-color: #000BE6;
  }
  80% {
    border-color: #00ffff;
  }
  100% {
    border-color: #ffffff;
  }
}
#presentation {
  background: url(../images/background.svg) 5% center no-repeat;
  background-size: cover;
  min-height: 705px;
  overflow-x: hidden;
}
#presentation .if-mobile-on {
  display: none;
}
#presentation .title {
  color: #FFFFFF;
  font-size: 3.5em;
  font-weight: 700;
  margin: 0;
  padding-top: 2rem;
  text-align: center;
  animation: jump 2s linear infinite;
}
#presentation .title span {
  color: #49BDF2;
}
#presentation .about-description {
  color: #FFFFFF;
  display: flex;
  font-size: 1em;
  font-weight: 400;
  margin: 0 auto 0 auto;
  text-align: center;
  width: 50%;
}
#presentation .paragraph-link {
  color: #FFFFFF;
  display: flex;
  font-size: 1.5em;
  font-weight: 700;
  justify-content: center;
  padding: 2rem;
}
#presentation .paragraph-link .about-link {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 700;
  padding: 0 2rem 0 2rem;
}
#presentation .paragraph-link .about-link:hover {
  text-decoration: underline;
  color: #777777;
}
#presentation .button-back-top {
  background-color: rgba(37, 37, 37, 0.4470588235) !important;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  margin: 10% 0 0 90%;
  position: fixed;
  display: none;
  z-index: 1;
}
#presentation .button-back-top .link-button-back-top {
  display: flex;
  justify-content: center;
}
#presentation .button-back-top .link-button-back-top .image-button-back-top {
  opacity: 70%;
}
#presentation .active {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  #presentation .title {
    font-size: 2.5em;
  }
  #presentation .about-description {
    width: 60%;
  }
}
@media screen and (max-width: 645px) {
  #presentation {
    background: #0A1920;
  }
  #presentation .button-back-top {
    margin: 0 0 0 80%;
  }
  #presentation .about-description {
    width: 90%;
    margin-top: 5%;
  }
  #presentation .paragraph-link {
    font-size: 1em;
    font-weight: 700;
    padding: 1rem;
  }
  #presentation .paragraph-link .about-link {
    font-size: 1em;
    font-weight: 700;
    padding: 0 1rem 0 1rem;
    text-align: center;
  }
}
@keyframes jump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
#personal-projects {
  background-color: #0D0D0D;
  display: flex;
  flex-direction: column;
}
#personal-projects .link-see-all-mobile {
  display: none;
  width: 8em;
  height: 2em;
  background-color: #2D2D2D;
  font: bold 1em "Poppins";
  color: #777777;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  padding-top: 0.5em;
  margin: 2em auto;
}
#personal-projects .title-and-link-projects {
  display: flex;
  flex-direction: row;
}
#personal-projects .title-and-link-projects .title {
  margin: 5% auto 0 5%;
}
#personal-projects .title-and-link-projects .link-see-all {
  width: 8em;
  height: 2em;
  background-color: #2D2D2D;
  font: bold 1.2em "Poppins";
  color: #777777;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  padding-top: 0.5em;
  margin: 6% 5% auto;
}
#personal-projects .title-and-link-projects .link-see-all:hover {
  text-decoration: underline;
}
#personal-projects .base {
  display: flex;
  flex-direction: row;
}
#personal-projects .base .small-base-1 {
  margin: 5% auto 0 auto;
}
#personal-projects .base .small-base-1 .star-project {
  align-items: start;
  width: 40.25em;
  max-height: 35em;
  display: flex;
  flex-direction: column;
}
#personal-projects .base .small-base-1 .star-project .zoom {
  overflow: hidden;
  border-radius: 0.5em;
}
#personal-projects .base .small-base-1 .star-project .zoom .image-star-project {
  width: 100%;
  height: 100%;
  opacity: 70%;
  transition: all 0.5s;
}
#personal-projects .base .small-base-1 .star-project .zoom .image-star-project:hover {
  transform: scale(1.1);
}
#personal-projects .base .small-base-1 .star-project .title-and-technology-project .title-star-project {
  font-size: 1.5em;
  font-weight: 700;
  color: #FFFFFF;
}
#personal-projects .base .small-base-1 .star-project .title-and-technology-project .iconTechnologyProject {
  width: 1.5em;
  padding: 0 0.1em;
}
#personal-projects .base .small-base-2 {
  margin: 3% auto;
}
#personal-projects .base .small-base-2 .secondarys-projects {
  width: 35.25em;
  height: 8em;
  background-color: #2D2D2D;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 5%;
  transition: transform 0.5s;
}
#personal-projects .base .small-base-2 .secondarys-projects:hover {
  transform: scale(1.02);
}
#personal-projects .base .small-base-2 .secondarys-projects .name-and-description-proj {
  display: flex;
  flex-direction: column;
}
#personal-projects .base .small-base-2 .secondarys-projects .name-and-description-proj .title-project {
  font-size: 1.5em;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0.5em 0 0 0.8em;
}
#personal-projects .base .small-base-2 .secondarys-projects .name-and-description-proj .text-project {
  color: white;
  margin: 0 auto 0 1.5em;
  padding: 0;
  font-size: 0.8em;
}
#personal-projects .base .small-base-2 .secondarys-projects .name-and-description-proj .technologyProject {
  display: flex;
  flex-direction: row;
  padding: 1em 1em;
}
#personal-projects .base .small-base-2 .secondarys-projects .name-and-description-proj .technologyProject .iconTechnologyProject {
  width: 1.5em;
  padding: 0.1em;
}
#personal-projects .base .small-base-2 .secondarys-projects .project-preview {
  border-radius: 0 0.5em 0.5em 0;
  max-width: 50%;
}

@media screen and (max-width: 1280px) {
  #personal-projects {
    padding-bottom: 8em;
  }
  #personal-projects .base {
    display: flex;
    flex-direction: column;
    padding: 0 auto 0 15%;
    margin: 0;
  }
  #personal-projects .base .small-base-1 .star-project {
    width: 75vw;
    height: 28em;
    align-items: center;
  }
  #personal-projects .base .small-base-1 .star-project .title-and-technology-project {
    align-items: start;
  }
  #personal-projects .base .small-base-2 {
    margin: auto;
  }
  #personal-projects .base .small-base-2 .secondarys-projects {
    width: 75vw;
  }
}
@media screen and (max-width: 645px) {
  #personal-projects {
    padding-bottom: 4em;
  }
  #personal-projects .link-see-all-mobile {
    display: block;
  }
  #personal-projects .title-and-link-projects .title {
    margin: 5% auto;
  }
  #personal-projects .title-and-link-projects .link-see-all {
    display: none;
  }
  #personal-projects .base .small-base-1 .star-project {
    margin: 5% auto 0 auto;
    width: 90vw;
    max-height: 21.5em;
    align-items: start;
  }
  #personal-projects .base .small-base-1 .star-project .title-star-project {
    font-size: 1.2em;
  }
  #personal-projects .base .small-base-2 .secondarys-projects {
    width: 90vw;
    max-height: 6em;
  }
  #personal-projects .base .small-base-2 .secondarys-projects .name-and-description-proj .title-project {
    font-size: 1.2em;
  }
  #personal-projects .base .small-base-2 .secondarys-projects .name-and-description-proj .text-project {
    margin: 0 auto 0 1.2em;
  }
  #personal-projects .base .small-base-2 .secondarys-projects .name-and-description-proj .technologyProject {
    padding: 0.5em 0.8em;
  }
}
#certifications {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#certifications .course-area {
  display: flex;
  flex-direction: row;
}
#certifications .course-area .card {
  background-color: #2D2D2D;
  border-radius: 0.5em;
  margin: 0 1em 0 1em;
  min-width: 27em;
  max-width: 27em;
  min-height: 10em;
  max-height: 10em;
  transition: transform 0.5s;
}
#certifications .course-area .card:hover {
  transform: scale(1.02);
}
#certifications .course-area .card .course {
  display: flex;
  flex-direction: row;
  justify-content: start;
  color: #FFFFFF;
}
#certifications .course-area .card .course .image-course {
  border-radius: 0.5em 0 0 0;
  min-width: 5.75em;
  max-width: 5.75em;
  height: 100%;
}
#certifications .course-area .card .course .specifications {
  margin: 0;
  text-align: start;
}
#certifications .course-area .card .course .specifications .title-course {
  font-size: 1em;
  font-weight: 600;
  color: #FFFFFF;
  padding: 0.5em;
  margin: 0;
}
#certifications .course-area .card .course .specifications .school {
  font-size: 1em;
  font-weight: 100;
  padding-left: 0.5em;
  margin: 0;
}
#certifications .course-area .card .course .specifications .course-specifications {
  font-size: 0.8em;
  font-weight: 100;
  margin: 0;
}
#certifications .course-area .card .course .specifications .date {
  padding-left: 0.5em;
}
#certifications .course-area .card .course .specifications .code {
  min-width: 150%;
  margin: 1em -5.3em auto;
}

footer {
  background-color: #2D2D2D;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}
footer .footer-logo {
  width: 3em;
}
footer .footer-logo:hover {
  opacity: 70%;
}
footer .footer-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2em 0 1em 0;
  margin: auto;
  width: 12em;
}
footer .footer-list .link-footer-list:hover {
  opacity: 70%;
}
footer .line {
  width: 85vw;
}
footer .text-footer {
  color: #777777;
}
footer .back-to-the-top {
  padding: 1em 0 1em 0;
  color: #777777;
  text-transform: uppercase;
}

@media screen and (max-width: 645px) {
  footer .text-footer {
    width: 70%;
    margin: auto;
  }
}
#letswork {
  display: flex;
  justify-content: end;
  padding-top: 5em;
}
#letswork .description {
  display: flex;
  flex-direction: column;
}
#letswork .description .text-letswork {
  color: #777777;
  margin: 10em 0 0 8em;
  text-transform: uppercase;
  font-weight: 500;
}
#letswork .description .link-letswork {
  font-size: 4em;
  font-weight: 700;
  padding-left: 2em;
}
#letswork .description .link-letswork:hover {
  text-decoration: underline;
}
#letswork .front-end-dev {
  width: 50em;
  height: 30em;
}
#letswork .front-end-dev-mob {
  display: none;
}

@media screen and (max-width: 1280px) {
  #letswork {
    padding-top: 5em;
    flex-direction: column;
  }
  #letswork .description {
    padding-bottom: 5em;
  }
  #letswork .description .text-letswork {
    margin: auto;
  }
  #letswork .description .link-letswork {
    font-size: 3em;
    margin: auto;
  }
  #letswork .front-end-dev {
    display: none;
  }
  #letswork .front-end-dev-mob {
    display: block;
    width: 100vw;
  }
}
@media screen and (max-width: 645px) {
  #letswork .description .link-letswork {
    font-size: 2em;
    text-align: center;
    padding: 0;
    padding: 0 1em 0 1em;
    margin: auto;
  }
}
#aboutme {
  display: flex;
  flex-direction: row;
  margin: 5em auto 0 auto;
  width: 60vw;
  padding-bottom: 5em;
}
#aboutme .title-and-description-about-me {
  text-align: center;
  padding: 0 0 0 5em;
}

@media screen and (max-width: 1280px) {
  #aboutme {
    flex-direction: column;
    align-items: center;
  }
  #aboutme .personal-photo {
    width: 35%;
  }
  #aboutme .title-and-description-about-me {
    padding: 0;
  }
}
@media screen and (max-width: 645px) {
  #aboutme {
    width: 90vw;
    margin: 5em auto 0 auto;
  }
}
#education {
  background-color: #ECECEC;
  padding-top: 5em;
  padding-bottom: 5em;
}
#education .title {
  margin: 0 auto 0 5%;
}
#education .faculty {
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin: auto auto 0 5%;
}
#education .faculty .title-and-description-faculty {
  padding: 1em;
}
#education .faculty .title-and-description-faculty .faculty-title {
  margin: 0;
}
#education .faculty .title-and-description-faculty .faculty-description {
  display: flex;
  flex-direction: column;
  margin: 0;
}
#education .faculty .title-and-description-faculty .faculty-description .faculty-data {
  color: #777777;
}

@media screen and (max-width: 645px) {
  #education {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
  }
  #education .faculty {
    text-align: start;
  }
}/*# sourceMappingURL=style.css.map */